#topcontainer {
  text-align: center;
  background: black;
  color: teal;
  height: 55px;
  font-size: 50px;
  border: 2px solid teal;
}
.containertext {
  position: relative;
  bottom: 10px;
}
body {
  background-image: url("https://media.moddb.com/images/groups/1/3/2055/EC_background.png");
}
label {
  color: white;
}
form {
  background-image: url("https://media1.giphy.com/media/OK5LK5zLFfdm/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  width: 1000px;
  position: relative;
  left: 200px;
  border: 2px solid teal;
}
.button1 {
  background-image: url("https://data.whicdn.com/images/310682775/original.gif");
  color: white;
}
#middle {
  background-image: url("https://media.giphy.com/media/JzujPK0id34qI/giphy.gif");
}
.button1 {
  margin-top: 15px;
}
